
.Main {
  width: 100%;
  background-color: #FAF7EF;
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Selfie {
  border: 2px solid  #323339;
  border-radius: 10%;
  float: right;
  margin-right: 1vw;
}

.About-img {
  flex: 0 0 30%;
}

.About-text {
  flex: 0 0 50%;
}
